<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="row m-5">
    <div class="col">
        <div class="card p-5">
            <h6 th:if="${success == 'error1'}" style="background-color: red; color: white">아이디 혹은 비밀번호가 틀렸습니다.</h6>
            <form id="login-form" action="/member/login" method="post">
                <input type="hidden" name="redirectURI" th:value="${redirectURI}">
                <div class="row justify-content-center align-content-center">
                    <div class="col">
                        <div class="input-group my-3">
                            <span class="input-group-text">이메일</span>
                            <input class="form-control" name="memberEmail">
                        </div>
                        <div id="emailHelpBlock" class="form-text"></div>
                        <div class="input-group my-3">
                            <span class="input-group-text">비밀번호</span>
                            <input type="password" class="form-control" name="memberPassword">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="text-center">
                            <input type="submit" class="btn btn-outline-success" value="저장" onclick="save_fn()">
                        </div>
                    </div>
                </div>
                <div>
                    <span>로그인 상태 유지</span>&nbsp;<input type="checkbox" name="cookie">
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
</html>