<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="row m-5">
    <div class="col">
        <div class="card p-5">
            <div class="row justify-content-center">
                <div class="col-auto" th:each="filename : ${member.storedFilename}">
                    <img th:if="${filename != null}" th:src="@{|/upload/${filename}}" height="180">
                </div>
                <div class="col-auto" th:if="${member.storedFilename.size() == 0}">
                    <img src="https://placehold.jp/180x180.png">
                </div>
                <div class="col-auto">
                    <table class="table table-bordered">
                        <tr>
                            <th class="table-dark">이메일</th>
                            <td th:text="${member.memberEmail}"></td>
                        </tr>
                        <tr>
                            <th class="table-dark">이름</th>
                            <td th:text="${member.memberName}"></td>
                        </tr>
                        <tr>
                            <th class="table-dark">생년월일</th>
                            <td th:text="${member.memberBirth}"></td>
                        </tr>
                        <tr>
                            <th class="table-dark">전화번호</th>
                            <td th:text="${member.memberMobile}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="check-password" style="display: none;">
            <form id="check-form" type="" method="get">
                <div class="input-group">
                    <span class="input-group-text">비밀번호</span>
                    <input class="form-control" name="inputPass" type="password">
                    <input id="checking" type="submit" class="btn btn-danger" value="확인">
                </div>
            </form>
        </div>
        <div id="update-delete">
            <button class="btn btn-outline-danger" onclick="open_form('delete')">삭제</button>
            <button class="btn btn-outline-warning" onclick="open_form('update')">수정</button>
        </div>
    </div>
</div>

<div th:replace="~{component/footer :: footer}"></div>
</body>

<script th:inline="javascript">
    const open_form = (type) => {
        const passCheckArea = document.getElementById("check-password");
        passCheckArea.style.display = "block";
        document.getElementById("check-form").type = type;
    }

    document.getElementById("check-form").addEventListener("submit", (event) =>{
        event.preventDefault();
        const inputPass = document.querySelector("[name = 'inputPass']").value
        const type = document.getElementById("check-form").type;
        const memberEmail = [[${member.memberEmail}]];
        const id = [[${member.id}]];
        if(inputPass == ""){
            alert("비밀번호를 입력해주세요")
            inputPass.focus();
        }else{
            axios({
                method:"post",
                url:"/member/detail",
                data:{memberEmail : memberEmail ,
                    memberPassword : inputPass}
            }).then(res => {
                if(type == "delete"){
                    if (confirm("정말로 탈퇴하시겠습니까?")){
                        axios({
                            method:"delete",
                            url:`/member/detail`,
                            params:{id:id}
                        }).then(res =>{
                            alert("탈퇴가 완료되었습니다.")
                            location.href = "/";
                        }).catch(err =>{
                            console.log(err)
                            if(err.code == "NOT_FOUND"){
                                alert("회원을 찾을 수 없습니다.")
                            }else if (err.code == "CONFLICT") {
                                alert("파일을 삭제할 수 없습니다.")
                            }else{
                                alert("알 수 없는 이유로 삭제에 실패했습니다.")
                            }
                        })
                    }
                }else if (type == "update"){
                    location.href = `/member/update/${id}`
                }
            }).catch(err => {
                console.log(err)
                alert("비밀번호가 틀렸습니다.")
            })
        }
    })

</script>
</html>