<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="row m-5">
    <div class="col">

        <div class="card p-5">
            <form id="save-form" action="/member/save" method="post" enctype="multipart/form-data">
                <div class="input-group my-3">
                    <input type="file" class="form-control" name="memberProfile">
                </div>
                <div class="input-group my-3">
                    <span class="input-group-text">이메일</span>
                    <input class="form-control" name="memberEmail" onblur="duplicate_check(this.value)">
                </div>
                <div id="emailHelpBlock" class="form-text"></div>
                <div class="input-group my-3">
                    <span class="input-group-text">비밀번호</span>
                    <input type="password" class="form-control" name="memberPassword" onkeyup="password_fn(this.value)">
                </div>
                <div id="passwordHelpBlock" class="form-text">
                    Your password must be 8-20 characters long, contain letters, numbers, and special characters, and must not contain spaces, or emoji.
                </div>
                <div class="input-group my-3">
                    <span class="input-group-text">비밀번호 확인</span>
                    <input type="password" class="form-control" name="memberPassCheck" onkeyup="passCheck_fn(this.value)">
                </div>
                <div id="passwordCheckBlock" class="form-text"></div>
                <div class="input-group my-3">
                    <span class="input-group-text">이름</span>
                    <input class="form-control" name="memberName">
                </div>
                <div class="input-group my-3">
                    <span class="input-group-text">전화번호</span>
                    <input class="form-control" name="memberMobile">
                </div>
                <div class="input-group my-3">
                    <span class="input-group-text">생년월일</span>
                    <input type="date" class="form-control" name="memberBirth">
                </div>
                <div class="text-end">
                    <input type="button" class="btn btn-outline-success" value="저장" onclick="save_fn()">
                </div>
            </form>
        </div>

    </div>
</div>

<div th:replace="~{component/footer :: footer}"></div>
</body>
</html>