<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container m-5">
    <div class="row">
        <div class="col">
            <div class="mb-4 ms-3">
                <h4 th:text="${board.boardTitle}" style="display: inline"></h4><h5 class="ms-3" th:text="|(${board.boardHits})|" style="display: inline"></h5>
            </div>
            <div class="d-flex justify-content-between ms-3 mb-5">
                <h5 th:text="|작성자 : ${board.boardWriter} (${board.writerEmail})|"></h5>
                <h6 th:text="|작성일 : ${board.createdAt}|"></h6>
            </div>
            <hr>
            <div class="p-4 mb-3 mx-4">
                <p th:text="${board.boardContents}"></p>
                <did class="card p-4 mt-4" th:if="${board.storedFilename.size() != 0}">
                    <div class="row">
                        <div th:each="fileName : ${board.storedFilename}" class="col-4">
                            <img th:src="@{|/upload/${fileName}}" width="100%">
                        </div>
                    </div>
                </did>
            </div>
            <div class="row mx-5 mb-1" th:style="${session.loginEmail != board.writerEmail}? 'display:none'">
                <div class="col-6 p-0">
                    <button class="form-control btn btn-outline-info" onclick="pass_area('update')">글수정</button>
                </div>
                <div class="col-6 p-0">
                    <button class="form-control btn btn-outline-danger" onclick="pass_area('delete')">글삭제</button>
                </div>
            </div>
           <div id="pass-area" class="mb-5 mx-5" style="display: none"></div>

            <hr>
            <div class="container">
                <div class="my-4">
                    <h4 class="ms-5">댓글</h4>
                </div>
                <div class="mb-4">
                    <form id="commentArea" action="/comment/save" method="post">
                        <input type="hidden" name="commentWriter" th:value="${session.loginEmail}">
                        <div class="input-group">
                            <span class="input-group-text">제목</span>
                            <input type="text" class="form-control" name="commentTitle">
                        </div>
                        <textarea class="form-control" name="commentContents"></textarea>
                        <div class="input-group">
                            <input type="button" class="form-control btn btn-secondary" value="작성" onclick="comment_save()">
                        </div>
                    </form>
                </div>

                <div id="comment-area">
                    <div class="card pt-4">
                        <div class="mb-3" th:each="comment : ${commentList}">
                            <h5 class="mx-4 mb-2" th:text="|${comment.commentTitle} ( ${comment.commentWriter} )|"></h5>
                            <p class="mx-5" th:text="${comment.commentContents}"></p>
                            <div class="text-end mx-4" th:style="${session.loginEmail != comment.commentWriter}? 'display:none'">
                                <button class="btn btn-outline-danger">삭제</button>
                                <button class="btn btn-outline-info">수정</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<hr>
<div th:replace="~{component/footer :: footer}"></div>
</body>

<script th:inline="javascript">
    const pass_area = (type) =>{
        const passArea = document.getElementById("pass-area");
        passArea.style.display = "block";
        passArea.innerHTML =
            `<div class="input-group">
                <span class="input-group-text">비밀번호</span>
                <input type="password" class="form-control" name="password">
                <input type="button" class="btn btn-outline-danger" onclick="pass_check('${type}')" value="확인">
            </div>`
    }

    const pass_check = (type) =>{
        const passInput =document.querySelector("[name='password']").value;
        const writerEmail = [[${board.writerEmail}]]
        const id = [[${board.id}]];
        if(type== "update"){
            axios({
                method:"post",
                url:`/member/memberCheck`,
                params:{
                    writerEmail : writerEmail,
                    password :passInput},
            }).then(req => {
                location.href = `/board/update/${id}`;
            }).catch(err => {
                alert("비밀번호가 틀렸습니다.");
            })
        }else if (type == "delete"){
            if(confirm("정말로 삭제하시겠습니까?")){
                axios({
                    method: "delete",
                    url: `/board/delete/${id}`,
                    params: {
                        writerEmail : writerEmail,
                        password : passInput}
                }).then(req => {
                    alert("삭제 성공")
                    location.href = "/board";
                }).catch(err =>{
                    alert("삭제 실패")
                });
            }
        }
    }

    const comment_save = () =>{
        const commentWriter = document.querySelector("[name='commentWriter']").value;
        const commentTitle = document.querySelector("[name='commentTitle']").value;
        const commentContents = document.querySelector("[name='commentContents']").value;
        const boardId = [[${board.id}]]
        const commentArea = document.getElementById("comment-area");
        if(commentWriter == ""){
            alert("로그인이 필요한 기능입니다.");
            location.href = `/member/login?redirectURI=/board/detail/${boardId}`
        }else if (commentTitle == ""){
            alert("제목을 작성해주세요");
        }else if (commentContents == ""){
            alert("댓글을 작성해주세요");
        }else{
            axios({
                method:"post",
                url:"/comment/save",
                data:{
                    commentTitle : commentTitle,
                    commentWriter : commentWriter,
                    commentContents : commentContents,
                    boardId : boardId},
            }).then(res =>{
                commentArea.innerHTML = '';
                res.data.forEach(data => {
                    commentArea.innerHTML +=
                        `<div class="card pt-4">
                            <div class="mb-4">
                                <h5 class="mx-4">${data.commentTitle} ( ${data.commentWriter} )</h5>
                                <p class="mx-5">${data.commentContents}</p>
                            </div>
                        </div>`
                })
            }).catch(err =>{
                console.log(err)
            });
        }
    }
</script>

</html>