<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<div th:fragment="nav" id="nav">
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="${session.loginEmail == null} ? @{/} : @{/member/main}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/board/save">글작성</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board">글목록</a>
                    </li>
                </ul>
                <form action="/board" method="get" class="d-flex" role="search">
                    <select name="type" class="form-select me-2 w-50">
                        <option value="boardTitle" th:selected="${type==null or type=='1'}">제목</option>
                        <option value="boardWriter" th:selected="${type=='2'}">작성자</option>
                    </select>
                    <input class="form-control me-2 " type="search" name="query" placeholder="검색어를 입력하세요" aria-label="Search" th:value="${query==null? '':query}">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item" th:if="${session.loginEmail} == null">
                        <a class="nav-link" href="/member/save">회원가입</a>
                    </li>
                    <li class="nav-item" th:if="${session.loginEmail} == null">
                        <a class="nav-link" href="javascript:to_login()">로그인</a>
                    </li>
                    <li class="nav-item" th:if="${session.loginEmail} != null">
                        <a class="nav-link" href="/member/detail" th:text="|${session.loginName}님, 안녕하세요|"></a>
                    </li>
                    <li class="nav-item" th:if="${session.loginEmail} == 'admin'">
                        <a class="nav-link" href="/member">회원목록</a>
                    </li>
                    <li class="nav-item" th:if="${session.loginEmail} != null">
                        <a class="nav-link" href="/member/logout">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script th:inline="javascript">
        console.log("href = " + window.location.href)
        console.log("protocol = " + window.location.protocol)
        console.log("host = " + window.location.host)
        console.log("hostname = " + window.location.hostname)
        console.log("port = " + window.location.port)
        console.log("pathname = " + window.location.pathname)
        console.log("search = " + window.location.search)
        console.log("origin = " + window.location.origin)

        const to_login = () =>{
            if(window.location.search == ""){
                location.href = "/member/login?redirectURI="+window.location.pathname
            }else{
                location.href = "/member/login?redirectURI="+window.location.pathname + window.location.search;
            }
        }
    </script>

</div>
</body>
</html>